server:
  port: 8086

spring:
  application:
    name: wallet-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/trading_platform
    username: tradingadmin
    password: tradingpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

wallet:
  starting-balance:
    basic: 100000.00
    premium: 250000.00
    admin: 1000000.00

management:
  endpoints:
    web:
      exposure:
        include: health,info