server:
  port: 8084

spring:
  application:
    name: portfolio-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/trading_platform
    username: tradingadmin
    password: tradingpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9093

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.trading-platform.portfolio-service: DEBUG
    org.springframework.kafka: WARN